:root{
	--color-primary-xo: #232324;
	--color-primary-o: #2b2e30;
	--color-primary: #343A40;
	--color-primary-l: #44515e;
	--color-primary-xl: #4a6075;

	--color-secondary-xo: #562f8f;
	--color-secondary-o: #633c9e;
	--color-secondary: #7952B3;
	--color-secondary-l: #916bc9;
	--color-secondary-xl: #a681db;
}

html, body{
	background-color: var(--color-primary);
	color: #eee3ff;
	font-family: 'Fira Sans', sans-serif;
}

.nav{
	position: fixed;
	bottom: 0;
	width: 100vw;
	background-color: var(--color-primary-o);
}
.nav_list{
	display: flex;
	justify-content: space-around;
	padding: 0;
}
.nav_item{
	list-style: none;
	font-size: 1.7em;
}
.nav_item a{
	color: inherit;
	padding: 0.5em;
}
.nav_item:nth-child(1){
	color: var(--color-secondary-l);
}







/* Etiquetas */
.cs{
	color: var(--color-secondary);
	font-weight: bold;
}